src/wsdl/dhcp188.merusouth124.iit.edu_23674/TruckShippingSystemWebServices/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.group9.itmd566.iit.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.group9.itmd566.iit.edu/" name="EmployeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.group9.itmd566.iit.edu/" schemaLocation="http://dhcp188.merusouth124.iit.edu:23674/TruckShippingSystemWebServices/EmployeeService?xsd=1"/>
</xsd:schema>
</types>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="updateEmployeeResponse">
<part name="parameters" element="tns:updateEmployeeResponse"/>
</message>
<message name="getEmployeeById">
<part name="parameters" element="tns:getEmployeeById"/>
</message>
<message name="getEmployeeByIdResponse">
<part name="parameters" element="tns:getEmployeeByIdResponse"/>
</message>
<message name="getEmployeeList">
<part name="parameters" element="tns:getEmployeeList"/>
</message>
<message name="getEmployeeListResponse">
<part name="parameters" element="tns:getEmployeeListResponse"/>
</message>
<portType name="EmployeeService">
<operation name="createEmployee">
<input wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/createEmployeeResponse" message="tns:createEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/createEmployee/Fault/Exception"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/deleteEmployee/Fault/Exception"/>
</operation>
<operation name="updateEmployee">
<input wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/updateEmployeeRequest" message="tns:updateEmployee"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/updateEmployee/Fault/Exception"/>
</operation>
<operation name="getEmployeeById">
<input wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/getEmployeeByIdRequest" message="tns:getEmployeeById"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/getEmployeeByIdResponse" message="tns:getEmployeeByIdResponse"/>
</operation>
<operation name="getEmployeeList">
<input wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/getEmployeeListRequest" message="tns:getEmployeeList"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/EmployeeService/getEmployeeListResponse" message="tns:getEmployeeListResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getEmployeeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://dhcp188.merusouth124.iit.edu:23674/TruckShippingSystemWebServices/EmployeeService"/>
</port>
</service>
</definitions>