src/wsdl/dhcp188.merusouth124.iit.edu_23674/TruckShippingSystemWebServices/location.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.group9.itmd566.iit.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.group9.itmd566.iit.edu/">

<xs:element name="createNewLocation" type="tns:createNewLocation"/>

<xs:element name="createNewLocationResponse" type="tns:createNewLocationResponse"/>

<xs:element name="deleteLocation" type="tns:deleteLocation"/>

<xs:element name="deleteLocationResponse" type="tns:deleteLocationResponse"/>

<xs:element name="getAllLocation" type="tns:getAllLocation"/>

<xs:element name="getAllLocationResponse" type="tns:getAllLocationResponse"/>

<xs:element name="getLocationById" type="tns:getLocationById"/>

<xs:element name="getLocationByIdResponse" type="tns:getLocationByIdResponse"/>

<xs:element name="updateLocation" type="tns:updateLocation"/>

<xs:element name="updateLocationResponse" type="tns:updateLocationResponse"/>

<xs:complexType name="getAllLocation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="location">
<xs:sequence>
<xs:element name="locCode" type="xs:string" minOccurs="0"/>
<xs:element name="locId" type="xs:int"/>
<xs:element name="locName" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLocation">
<xs:sequence>
<xs:element name="arg0" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationById">
<xs:sequence>
<xs:element name="locid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLocation">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewLocation">
<xs:sequence>
<xs:element name="arg0" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>