src/wsdl/dhcp188.merusouth124.iit.edu_23674/TruckShippingSystemWebServices/OrderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.group9.itmd566.iit.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.group9.itmd566.iit.edu/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="getOrderDetailsById" type="tns:getOrderDetailsById"/>

<xs:element name="getOrderDetailsByIdResponse" type="tns:getOrderDetailsByIdResponse"/>

<xs:element name="getOrderList" type="tns:getOrderList"/>

<xs:element name="getOrderListResponse" type="tns:getOrderListResponse"/>

<xs:complexType name="getOrderList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderListResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="order">
<xs:sequence>
<xs:element name="amt" type="xs:int" minOccurs="0"/>
<xs:element name="custName" type="xs:string" minOccurs="0"/>
<xs:element name="locFrom" type="xs:string" minOccurs="0"/>
<xs:element name="locTo" type="xs:string" minOccurs="0"/>
<xs:element name="orderDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="orderId" type="xs:int"/>
<xs:element name="vin" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetailsById">
<xs:sequence>
<xs:element name="orderId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetailsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>