src/wsdl/dhcp188.merusouth124.iit.edu_23674/TruckShippingSystemWebServices/OrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.group9.itmd566.iit.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.group9.itmd566.iit.edu/" name="OrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.group9.itmd566.iit.edu/" schemaLocation="http://dhcp188.merusouth124.iit.edu:23674/TruckShippingSystemWebServices/OrderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getOrderList">
<part name="parameters" element="tns:getOrderList"/>
</message>
<message name="getOrderListResponse">
<part name="parameters" element="tns:getOrderListResponse"/>
</message>
<message name="getOrderDetailsById">
<part name="parameters" element="tns:getOrderDetailsById"/>
</message>
<message name="getOrderDetailsByIdResponse">
<part name="parameters" element="tns:getOrderDetailsByIdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="OrderService">
<operation name="getOrderList">
<input wsam:Action="http://services.group9.itmd566.iit.edu/OrderService/getOrderListRequest" message="tns:getOrderList"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/OrderService/getOrderListResponse" message="tns:getOrderListResponse"/>
</operation>
<operation name="getOrderDetailsById">
<input wsam:Action="http://services.group9.itmd566.iit.edu/OrderService/getOrderDetailsByIdRequest" message="tns:getOrderDetailsById"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/OrderService/getOrderDetailsByIdResponse" message="tns:getOrderDetailsByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.group9.itmd566.iit.edu/OrderService/getOrderDetailsById/Fault/Exception"/>
</operation>
</portType>
<binding name="OrderServicePortBinding" type="tns:OrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrderList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderDetailsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="OrderService">
<port name="OrderServicePort" binding="tns:OrderServicePortBinding">
<soap:address location="http://dhcp188.merusouth124.iit.edu:23674/TruckShippingSystemWebServices/OrderService"/>
</port>
</service>
</definitions>