src/wsdl/dhcp188.merusouth124.iit.edu_23674/TruckShippingSystemWebServices/price.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.group9.itmd566.iit.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.group9.itmd566.iit.edu/" name="price">
<types>
<xsd:schema>
<xsd:import namespace="http://services.group9.itmd566.iit.edu/" schemaLocation="http://dhcp188.merusouth124.iit.edu:23674/TruckShippingSystemWebServices/price?xsd=1"/>
</xsd:schema>
</types>
<message name="getPriceById">
<part name="parameters" element="tns:getPriceById"/>
</message>
<message name="getPriceByIdResponse">
<part name="parameters" element="tns:getPriceByIdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getPricing">
<part name="parameters" element="tns:getPricing"/>
</message>
<message name="getPricingResponse">
<part name="parameters" element="tns:getPricingResponse"/>
</message>
<portType name="PricingService">
<operation name="getPriceById">
<input wsam:Action="http://services.group9.itmd566.iit.edu/PricingService/getPriceByIdRequest" message="tns:getPriceById"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/PricingService/getPriceByIdResponse" message="tns:getPriceByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.group9.itmd566.iit.edu/PricingService/getPriceById/Fault/Exception"/>
</operation>
<operation name="getPricing">
<input wsam:Action="http://services.group9.itmd566.iit.edu/PricingService/getPricingRequest" message="tns:getPricing"/>
<output wsam:Action="http://services.group9.itmd566.iit.edu/PricingService/getPricingResponse" message="tns:getPricingResponse"/>
</operation>
</portType>
<binding name="PricingServicePortBinding" type="tns:PricingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPriceById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPricing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="price">
<port name="PricingServicePort" binding="tns:PricingServicePortBinding">
<soap:address location="http://dhcp188.merusouth124.iit.edu:23674/TruckShippingSystemWebServices/price"/>
</port>
</service>
</definitions>